@charset "UTF-8";
@font-face {
  font-family: idroid;
  src: url(fontes/idroid.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: aquamarine;
}

header {
  text-align: center;
  height: 150px;
  background: linear-gradient(0deg, rgb(38, 75, 41), rgb(109, 195, 115)) ;
  color: white;
  margin: auto;
}

main {
  width: 850px;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: white;
}

nav {
  text-align: left;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

h2 {
  font-family: idroid;
}

li {
  list-style-type: none;
  text-decoration: underline;
}

p {
  text-indent: 1%; /* Recuo baseado em porcentagem */
}

footer {
  text-align: center;
}